<!DOCTYPE html>
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% load static %}

<html lang="{{ LANGUAGE_CODE }}" class="no-js">
<head>
  <title>{% block title %}{{ site.name }}{% endblock %}</title>
  {% block stylesheet %}{% endblock stylesheet %}
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  {% block header %}{% endblock %}
  {% block header_side %}{% endblock %}
  {% block breadcrumb %}{% endblock breadcrumb %}
  {% block content %}{% endblock %}

  {% block footer_scripts %}
    {% render_bundle 'app_main' %}
  {% endblock footer_scripts %}
</body>
</html>
